html,
body {
  scrollbar-gutter: stable;
}

.dialog {
  border: none;
  padding: 0;
  background-color: transparent;
}

.dialog__content {
  padding: 1em;
  background-color: #fff;
}

.dialog::backdrop {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll-lock {
  overflow: hidden;
}

.scroll-lock .body {
  filter: blur(2px);
  transition: filter 0.25s linear;
}

.dialog[open]::backdrop,
.dialog[open] {
  animation-name: opacity-view;
  animation-duration: 0.25s;
}

@keyframes opacity-view {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
